html
    body
        header
              nav
                div
                    a(href="/") BIKE STORE
                    div
                        ul
                            li
                                a(href="/") Home
                            li
                                a(href="/api/productos") Productos

        main
            block content
